<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/nixphere.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/forkawesome/css/fork-awesome.min.css">
    <title>The only good bacheca</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>BB: A Bulletin Board System in many languages for no reason.</h1>
                <p> This page is made using <strong>{{language}}</strong></p>
                <p> Total Posts: {{total}} </p>
                <hr>
            </div>
            {% for post in posts %}
            <article class="twelve columns">
                <header>
                    <h5>#{{post.id}} Posted by {{post.username|capitalize}} on {{post.time}}</h5>
                </header>
                <section>
                    <p>{{post.content}}</p>
                </section>
                
            </article>
            {% endfor %}
        </div>
    </div>
</body>